{
  "plugins": ["@babel/transform-react-jsx"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      },
      "babel/preset-react"
    ]
  ]
}
